<!doctype html>
<html ng-app>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/js/angular.min.js"></script>
    <script src="/js/controllers.js"></script>
  </head>
  <body ng-controller="VolunteerCtrl">
    <div class="container-fluid">
      <div class="row">
        <div class="span6">
          <h2>Volunteers ({{volunteers.length}})</h2>
          <form ng-submit="addVolunteer()" class="form-inline">
            <input type="text" ng-model="volunteerName"  size="30"
                   placeholder="add new volunteer here">
            <input class="btn btn-primary btn-primary" type="submit" value="add">
          </form>
          <ul class="unstyled">
            <li ng-repeat="volunteer in volunteers | filter:search">
              <button class="btn btn-mini pull-right">Edit</button>
              <button class="btn btn-mini pull-right">Delete</button>
              <div>{{volunteer.id}}</div>
              <address>
                <h4>{{volunteer.name}}</h4>
                <span class="label label-info pull-right">member</span>
                <div><a href="mailto:{{volunteer.email}}">{{volunteer.email}}</a></div>
                <div>Comment: <strong>{{volunteer.comment}}</strong></div>
                <div>{{volunteer.address1}}</div>
                <div>{{volunteer.address2}}</div>
                <div>{{volunteer.phone}}</div>
              </address>
            </li>
          </ul>
        </div>
        <div class="span2">
          <h3>Search</h3>
          <input type="text" ng-model="search" class="span2 search-query" placeholder="Search">
        </div>
      </div>
    </div>
  </body>
</html>
